<div class="content">
    <div class="napis">
        <p class="nazwa">multiupload</p>
    </div>
    <div class="zawartosc upload">
        <form enctype="multipart/form-data" method="POST" action="/handleUpload">
            <input type="file" multiple required accept="all" name="imageupload">
            <button>upload</button>
        </form>
    </div>
</div>